/*------------ Page Layouts --------------- */

* {box-sizing: border-box;}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	font-family: sans-serif;
}
#main{
	display: flex;
	flex: 1;
}
#main > article{
	flex: 1;
}
#main > nav ,#main > aside{
	flex: 0 0 20vw;
	background: beige;
}
#main > nav{
	order: -1;
}

footer, article, nav,aside{
	padding: 1vh 1vw;
}

/*--------------- menu ----------------*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a,
.dlist{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

li a:hover,
 .dropdown:hover .dlist{
	background-color: #000;
}

li.dropdown{
	display: inline-block;
}

.dcontent {
  display: none;
  position: absolute;
  background-color: #30cbc4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dcontent a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

dcontent a:hover {background-color: #f1f1f1;}

.dropdown:hover .dcontent {
  display: block;
}
/*-------------------- login-------------------- */

.login-container {
  float: right;
    margin :2px;
}
form {
    display: block;
    margin: 2px;
  }

/* Style the input field inside the navbar */
.login-container input[type=text],
.login-container input[type=password] {
  padding: 6px;
  margin: 1px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}


/* Style the button inside the input container */
.login-container button {
  float: right;
  padding: 6px;
  margin: 1px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .login-container {
    float: none;
  }
  .login-container a, .login-container input[type=text], .login-container input[type=password], .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .login-container input[type=text] {
    border: 1px solid #ccc;
  }
}



/*  */


.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  }

  .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}


.div {
    display: block;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
    margin-bottom: 0;
}

.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.a.list-group-item, .button.list-group-item {
    color: #555;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
